h1{
  font-size: 80px;
  font-style: normal;
  font-weight: 30px;
  font-family: sans-serif;
  text-shadow: 10px #000000;
  color:blue;
}
h2{
  color:gray;
  font-size: 30px;
  font-style:italic;
  font-weight:lighter;
  font-family: sans-serif;
  text-shadow: 10px #000000;
}
p{
  font-size: 20px;
  font-style: normal;
  font-weight: 20px;
  color:black;


}
